name: Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test-go-code:
    name: Test Go Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@v2
        with:
          # avoid rate limiting
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.44.1
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests with coverage
        run: task test-coverage

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: stacklok/toolhive-registry-server
