name: Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test-go-code:
    name: Test Go Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@v2
        with:
          # avoid rate limiting
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.44.1
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests with coverage
        run: task test-coverage

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: stacklok/toolhive-registry-server
